{% extends 'base.html' %}

{% load static %}

{% block title %}ATUAÇÃO Web | Consulta {% endblock %}

{% block content %}

<div class="container">

<!-- <span><center><img src="{% static 'images/atuacaowebblue.png' %}"></center></span>
-->
	<br/>

<p>Consulta</p>

<br/><br/><br/>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>    
  {% endfor %}
{% endif %}

<div class="container">
    <p> </p>
</div>

<main>
 

 <h3>{{ contexto.instancia }}</h3>


  <div class="container">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">PROCESSO</th>         
          <th scope="col">EXEQUENTE</th>
          <th scope="col">RESPONSÁVEL</th>      
        </tr>
      </thead>
      <tbody>
          <tr>
            {% for t in contexto.tipocalculo %}

            <th scope="row">{{ t.t02_id_tipo_calculo }}</th>
               
            <td>{{ t.t02_desc_tipo_calculo}}</td>
            <!--<td>{{ t.t01_nome_exequente}}</td>
            <td>{{ t.t01_nome_responsavel }}</td>
            -->                
          </tr>
               
            {% endfor %}
      </tbody>
    </table>
  </div>

  
</main>


</div>


{% endblock %}