{% extends 'base.html' %}

{% block title %}ATUAÇÃO | Entrada de Dados {% endblock %}


{% block content %}

{% load static %}

{% if inseridos %}
			
		{% if messages %}
		  {% for message in messages %}
		    <div class="alert alert-success" role="alert">
		        {{ message }}
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		    </div>    
		  {% endfor %}
		{% endif %}


	<!-- <h4>Processo: {{ registro.1 }}</h4> -->
			

	<div class="container">			

	    <table class="table table-striped table-bordered table-sm">
	      <thead>
	        <tr>    </tr>
	      </thead>

	      <tbody>
	          <tr>              
	            <td>ID PROCESSO</td>
	            <td>{{registro.0}}</td>
	          </tr>
	          <tr>
				<td>NÚMERO DO PROCESSO</td>
	            <td>{{registro.1}}</td>                          
	          </tr>
	           <tr>
				<td>NOME DO EXEQUENTE</td>
	            <td>{{registro.2}}</td>                          
	          </tr>
	           <tr>
				<td>QTD.EXEQUENTES</td>
	            <td>{{registro.3}}</td>                          
	          </tr>
	           <tr>
				<td>INSTÂNCIA</td>
	            <td>{{instancia}}</td>                          
	          </tr>
	           <tr>
				<td>ÓRGÃO REPRESENTADO</td>
	            <td>{{orgaorepresentado}}</td>                          
	          </tr>
	           <tr>
				<td>ORIGEM DO PROCESSO</td>
	            <td>{{origem}}</td>                          
	          </tr>           
	          <tr>
				<td>SITUACAO DA UNIAO</td>
	            <td>{{situacaouniao}}</td>                          
	          </tr>  
	          <tr>
				<td>TIPO DE CÁLCULO</td>
	            <td>{{tipocalculo}}</td>                          
	          </tr>  
	          <tr>
				<td>OBJETO DA AÇÃO</td>
	            <td>{{objetoacao}}</td>                          
	          </tr>  
	          <tr>
				<td>TIPO DE PARECER</td>
	            <td>{{tipoparecer}}</td>                          
	          </tr>  
	          <tr>
				<td>NÚMERO PARECER</td>
	            <td>{{registro.11}}</td>                          
	          </tr>  
	          <tr>
				<td>VALOR UNIÃO</td>
	            <td>{{registro.12 |floatformat:"2g"}}</td>                          
	          </tr>  
	          <tr>
				<td>VALOR AUTOR</td>
	            <td>{{registro.13 |floatformat:"2g"}}</td>                          
	          </tr>  
	          <tr>
				<td>DATA ENVIO NECAP</td>
	            <td>{{registro.14 |date:"SHORT_DATE_FORMAT" }}</td>                          
	          </tr>  
	          <tr>
				<td>PRAZO ADVOGADO</td>
	            <td>{{registro.15 |date:"SHORT_DATE_FORMAT"}}</td>                          
	          </tr>  
	          <tr>
				<td>DATA RECEMBIMENTO TÉCNICO</td>
	            <td>{{registro.16 |date:"SHORT_DATE_FORMAT"}}</td>                          
	          </tr>  
	          <tr>
				<td>DATA SAÍDA NECAP</td>
	            <td>{{registro.17 |date:"SHORT_DATE_FORMAT"}}</td>                          
	          </tr>  
	          <tr>
				<td>OBS. DO PROCESSO</td>
	            <td>{% if registro.18 %} {{registro.18}} {% endif %}</td>                          
	          </tr>  
	          <tr>
				<td>NOME DO RESPONSÁVEL</td>
	            <td>{{registro.19}}</td>                          
	          </tr>  
	          <tr>
				<td>PERÍCIA</td>
	            <td>{{registro.20}}</td>                          
	          </tr>  
	          <tr>
				<td>DATA INSERÇÃO DOS DADOS</td>
	            <td>{{registro.21 |date:"SHORT_DATE_FORMAT"}}</td>                          
	          </tr>  
	          <tr>
				<td>NUM. AÇÃO ORIGINAL</td>
	            <td>{% if registro.22 %} {{registro.22}} {% endif %}</td>                          
	          </tr>  
	          <tr>
				<td>UNIDADE</td>
	            <td>{{necap}}</td>                          
	          </tr> 
	      </tbody>
	    </table>
  </div>
  
  <div class="col-sm-12">
  	<br>
	<button onclick="window.print()" type="submit" class="btn btn-primary mt-3">Imprimir</button>
  </div> 	



  </div>

{% else %}

	<!-- <h5>Entrada de Dados</h5> -->
	<hr/>		
		
		<!-- <script type="text/javascript">javascript:window.history.forward(1);</script> -->

		<script src="{% static 'js/my_javascript.js' %}"></script>
		<script> noback(); </script>

	<main>  	
	  	
	  	<div class="container" style="background-color: #c2d4dd"> <!--#deeaee -->
	  	
	  		<!--<form enctype="multipart/form-data" action="{% url 'entradadados' %}"  target="_blank" method="POST"> -->
			<form enctype="multipart/form-data" action="{% url 'entradadados' %}" method="POST">
	  			
	      	{% csrf_token %} 


	  			<div class="row"> <!-- 1a linha -->

			  		<!--
			  		<div class="col-sm-2">					  		
						<label for="datalist1" class="form-label"><h6>Situação da União</h6></label>
						<input onchange="inabValorAutor(situacao.value);" class="form-control" list="listasituacaouniao" id="datalist1" placeholder="Escolha..." name='situacao' required>
						<datalist id="listasituacaouniao">								
							<option value="Ré" >
							<option value="Autora">
						</datalist>
					</div> -->

					<div class="col-sm-2">
						    <label for="selecao1"><h6>Situação da União</h6></label>
						    <select class="form-control" id="selecao1" onchange="inabValorAutor(situacao.value);" name="situacao" required>
						      <option value=""></option>
						      <option value ="Ré">Ré</option>
						      <option value="Autora">Autora</option>						      
						    </select>
					</div>

					<div class="col-sm-2">					  		
						<label for="selecao2" class="form-label"><h6>Tipo de Atividade</h6></label>
						<select class="form-control" id="selecao2" name='atividade' required>
						    <option value=""></option>								
							<option value="Cálculo">Cálculo</option>
							<option value="Perícia">Perícia</option>
						</select>
					</div>

					<div class="col-sm-5">					  
						   	<label for="numpro" class="form-label"><h6>Nº do processo</h6></label>
						   	<input type="text" onkeypress="return event.charCode >= 48 && event.charCode <=57" class="form-control" id="numpro" name="numprocesso" maxlength="30" required>	    
					</div>

				</div> <!-- 1a linha -->			   
						
				

				<div class="row"> <!-- 2a linha -->
						<!--
						<div class="col-sm-2">					  
					    	<label for="campo2" class="form-label">Ano</label>
					    	<input type="number" class="form-control" id="campo2" name='ano' >	    
						</div>	
						-->					

						<div class="col-sm-7">					  
					    	<label for="nomexeq" class="form-label"><h6>Nome do exequente</h6></label>
					    	<input type="text" class="form-control" id="nomexeq" name="exequente" maxlength="70" onchange="upperCase();" required>	    
					  	</div>

					  	<!--
					  	<div class="col-sm-2">
					    	<label for="datalist4" class="form-label"><h6>Instância</h6></label>
							<input class="form-control" list="listaInstancia" id="datalist4" placeholder="Escolha..." name="instancia" required>
								<datalist id="listaInstancia">
									{% if instancia %}
										{% for k in instancia %}
										   <option value="{{ k }}">
										{% endfor %}
									{% endif %}									
								</datalist>
						</div> -->

						<div class="col-sm-2">
					    	<label for="selecao3" class="form-label"><h6>Instância</h6></label>
							<select class="form-control" id="selecao3" name="instancia" required>
								<option></option>
									{% if instancia %}
										{% for k in instancia %}
										   <option value="{{ k }}">{{ k }}</option>
										{% endfor %}
									{% endif %}									
							</select>
						</div>

						<!--
						<div class="col-sm-2">
							<label for="datalist5" class="form-label"><h6>Origem do processo</h6></label>
							<input class="form-control" list="listaOrigemProcesso" id="datalist5" placeholder="Escolha..." name='origemprocesso' required>
								<datalist id="listaOrigemProcesso">
									{% if origemprocesso %}
										{% for k in origemprocesso %}
									   		<option value="{{ k }}">
										{% endfor %}
									{% endif %}		
								</datalist>	
						</div> -->

						<div class="col-sm-2">
							<label for="selecao4" class="form-label"><h6>Origem do processo</h6></label>
							<select class="form-control" id="selecao4" name='origemprocesso' required>
								<option></option>
									{% if origemprocesso %}
										{% for k in origemprocesso %}
									   		<option value="{{ k }}">{{ k }}</option>
										{% endfor %}
									{% endif %}		
							</select>	
						</div>


					</div><!-- 2a linha fim -->					
					

					<div class="row"> <!-- 3a linha -->
					
						<div class="col-sm-2">
							<label for="cmp1" class="form-label"><h6>Qte de exequentes</h6></label>
						    <input type="number" class="form-control" id="cmp1" name="qtexeq" onchange="validaQtdExeq(qtexeq.value);" onkeypress="return event.charCode >= 48 && event.charCode <=57" required>	    
						</div>

						<!--
						<div class="col-sm-4">
							<label for="datalist6" class="form-label"><h6>Tipo de cálculo</h6></label>
							<input class="form-control" list="listaTipoCalculo" id="datalist6" placeholder="Escolha..." name="tipocalculo" required>
							<datalist id="listaTipoCalculo">
								{% if tipocalculo %}
									{% for k in tipocalculo %}
									   <option value="{{ k }}">
									{% endfor %}
								{% endif %}							
							</datalist>	
						</div> -->


						<div class="col-sm-4">
							<label for="selecao5" class="form-label"><h6>Tipo de cálculo</h6></label>
							<select class="form-control" id="selecao5" name="tipocalculo" required>
								<option></option>
								{% if tipocalculo %}
									{% for k in tipocalculo %}
									   <option value="{{ k }}">{{ k }}</option>
									{% endfor %}
								{% endif %}							
							</select>	
						</div>

						<!--
						<div class="col-sm-6"> 					   		
						   		<label for="exampleDataList" class="form-label"><h6>Objeto da ação</h6></label>
								<input class="form-control" list="listaObjetoAcao" id="exampleDataList" placeholder="Escolha..." name="objeto" required>
								<datalist id="listaObjetoAcao">
									{% if objetoacao %}
										{% for k in objetoacao %}
										   <option value="{{ k }}">
										{% endfor %}
									{% endif %}								
								</datalist>	
						</div> -->

						<div class="col-sm-6"> 					   		
						   		<label for="selecao6" class="form-label"><h6>Objeto da ação</h6></label>
								<select class="form-control" id="selecao6" name="objeto" required>
									<option></option>
									{% if objetoacao %}
										{% for k in objetoacao %}
										   <option value="{{ k }}">{{ k }}</option>
										{% endfor %}
									{% endif %}								
								</select>	
						</div>


					</div> <!-- 3a linha -->
				

					<div class="row"> <!-- 4a linha -->
						
						<!--
						<div class="col-sm-6">
								<label for="exampleDataList" class="form-label"><h6>Orgão representado</h6></label>
								<input class="form-control" list="listaOrgaoRepre" id="exampleDataList" placeholder="Escolha..." name="orgao" required>
								<datalist id="listaOrgaoRepre">
									{% if orgaorepresentado %}
										{% for k in orgaorepresentado %}
										   <option value="{{ k }}">
										{% endfor %}
									{% endif %}								
								</datalist>	
						</div>

						
						<div class="col-sm-3"> 
							   	<label for="exampleDataList" class="form-label"><h6>Unidade</h6></label>
								<input class="form-control" list="listaUnidade" id="exampleDataList" placeholder="Escolha..." name="unidade" required>
								<datalist id="listaUnidade">
									{% if necap %}
										{% for k in necap %}
										   <option value="{{ k }}">
										{% endfor %}
									{% endif %}							
								</datalist>	
						</div> -->
			
						<div class="col-sm-6">
								<label for="selecao7" class="form-label"><h6>Orgão representado</h6></label>
								<select class="form-control" id="selecao7" name="orgao" required>
									<option></option>
									{% if orgaorepresentado %}
										{% for k in orgaorepresentado %}
										   <option value="{{ k }}">{{ k }}</option>
										{% endfor %}
									{% endif %}								
								</select>	
						</div> 

						
						<div class="col-sm-3"> 
							   	<label for="selecao8" class="form-label"><h6>Unidade</h6></label>
								<select class="form-control" id="selecao8" name="unidade" required>
									<option></option>
									{% if necap %}
										{% for k in necap %}
										   <option value="{{ k }}">{{ k }}</option>
										{% endfor %}
									{% endif %}							
								</select>	
						</div>

						<!--
						<div class="col-sm-3">					  		
							<label for="dataList3" class="form-label"><h6>Tipo de parecer</h6></label>
							<input class="form-control" list="listaTipoParecer" id="datalist3" placeholder="Escolha..." name="tipoparecer" required>
								<datalist id="listaTipoParecer">
									{% if tipoparecer %}
										{% for k in tipoparecer %}
										   <option value="{{ k }}">
										{% endfor %}
									{% endif %}	
								</datalist>
						</div> -->

						<div class="col-sm-3">					  		
							<label for="selecao9" class="form-label"><h6>Tipo de parecer</h6></label>
							<select class="form-control" id="selecao9" name="tipoparecer" required>
								<option></option>
									{% if tipoparecer %}
										{% for k in tipoparecer %}
										   <option value="{{ k }}">{{ k }}</option>
										{% endfor %}
									{% endif %}	
							</select>
						</div>

					</div> <!-- 4a linha -->
				

					<div class="row"> <!-- 5a linha -->
												
						<div class="col-sm-3">
					    	<label for="campo4" class="form-label"><h6>Nº do parecer</h6></label>
					    	<input type="text" class="form-control" id="campo4" name="numparecer" maxlength="20"required>
					  	</div>
					  	
					  	<div class="col-sm-3">
							<label for="campo9" class="form-label"><h6>Valor da União</h6></label>
						   	<input type="float" class="form-control" id="campo9" name="valoruniao" onchange="doDecimal(valoruniao.value,'campo9'); return false;" required>
						</div>

					  	<div class="col-sm-3">
							<label for="campo8" class="form-label"><h6>Valor do Autor</h6></label>
						    <input type="float" class="form-control" id="campo8" name="valorautor" onchange="doDecimal(valorautor.value,'campo8'); return false;" required>	    
						</div>

						<div class="col-sm-3">
							<label for="campo2" class="form-label"><h6>Data de envio p/ unidade</h6></label>
						    <input type="date" class="form-control" id="dtenvio" name="dataenvio" required>	    
						</div>

					</div> <!-- 5a linha -->
				
					<div class="row"> <!-- 6a linha -->							

						<div class="col-sm-3">
							<label for="campo3" class="form-label"><h6>Prazo do Advogado</h6></label>
						   	<input type="date" class="form-control" id="dtadvoga" name="dataadvogado" onfocusout="valida1();" required>
						</div>

						<div class="col-sm-3">				    	
							<label for="campo5" class="form-label"><h6>Data da saída</h6></label>
						    <input type="date" class="form-control" id="dtsaida" name="datasaida" onfocusout="valida2();" required>
						</div>

						<!--
						<div class="col-sm-6">
						   	<label for="exampleDataList" class="form-label"><h6>Nome do responsável</h6></label>
							<input class="form-control" list="listaNomeResp" id="exampleDataList" placeholder="Escolha..." name="responsavel" maxlength="70" required>
							<datalist id="listaNomeResp">
								{% if responsavelprocesso %}
									{% for k in responsavelprocesso %}
									   <option value="{{ k }}">
									{% endfor %}
								{% endif %}	
							</datalist>	
						</div> -->

						<div class="col-sm-6">
						   	<label for="selecao10" class="form-label"><h6>Nome do responsável</h6></label>
							<select class="form-control" id="selecao10" name="responsavel" maxlength="70" required>
								<option></option>
								{% if responsavelprocesso %}
									{% for k in responsavelprocesso %}
									   <option value="{{ k }}">{{ k }}</option>
									{% endfor %}
								{% endif %}	
							</select>	
						</div>

					</div> <!-- 5a linha -->
				

					<div class="row">
						<div class="col-sm-12">					  
					    	<label for="campo2" class="form-label"><h6>Observação</h6></label>
					    	<textarea class="form-control" id="campo2" name="observacao"placeholder="Registre aqui alguma observação sobre o processo." maxlength="200"></textarea>
					    </div>				  	
					</div>
				

					<div class="row">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary mt-3">Gravar Informações</button>
						</div>
					</div> 					
					<br>

			</form>     
						
		</div> <!-- container -->
	  
	</main>

{% endif %}

{% endblock %}

