<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teste SQL Server</title>
  </head>
  <body>
    <h1>Página para teste SQL Server</h1>
        
    <div class="container" style="background-color: #c2d4dd"> <!--#deeaee -->
	  	
        <!--<form enctype="multipart/form-data" action="{% url 'entradadados' %}"  target="_blank" method="POST"> -->
      <form enctype="multipart/form-data" action="{% url 'teste' %}" method="POST">
            
        {% csrf_token %} 
    
                    <div class="col-sm-2">
                        <label for="selecao1" class="form-label"><h3>Instância</h3></label>
                        <select class="form-control" id="selecao1" name="instancia" required>
                            <option></option>
                                {% if instancia %}
                                    {% for k in instancia.values %}
                                    <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                {% endif %}									
                        </select>
                    </div>
                        
                    <div class="col-sm-2">
                        <label for="selecao2" class="form-label"><h3>Origem do Processo</h3></label>
                        <select class="form-control" id="selecao2" name="origem" required>
                            <option></option>
                                {% if origemprocesso %}
                                    {% for k in origemprocesso.values %}
                                    <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                {% endif %}									
                        </select>
                    </div>
                        
                    <div class="col-sm-2">
                        <label for="selecao3" class="form-label"><h3>Tipo de cálculo</h3></label>
                        <select class="form-control" id="selecao3" name="tipocalculo" required>
                            <option></option>
                                {% if tipocalculo %}
                                    {% for k in tipocalculo.values %}
                                    <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                {% endif %}									
                        </select>
                    </div>
                        
                    <div class="col-sm-2">
                        <label for="selecao4" class="form-label"><h3>Objeto da Ação</h3></label>
                        <select class="form-control" id="selecao4" name="objeto" required>
                            <option></option>
                                {% if objetoacao %}
                                    {% for k in objetoacao.values %}
                                    <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                {% endif %}									
                        </select>
                    </div>
                    
                    <div class="col-sm-2">
                        <label for="selecao5" class="form-label"><h3>Órgão representado</h3></label>
                        <select class="form-control" id="selecao5" name="orgao" required>
                            <option></option>
                                {% if orgaorepresentado %}
                                    {% for k in orgaorepresentado.values %}
                                    <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                {% endif %}									
                        </select>
                    </div>
                        
                    <div class="col-sm-2">
                        <label for="selecao6" class="form-label"><h3>Unidade</h3></label>
                        <select class="form-control" id="selecao6" name="unidade" required>
                            <option></option>
                                {% if unidade %}
                                    {% for k in unidade.values %}
                                    <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                {% endif %}									
                        </select>
                    </div>
                    <hr/>
                
                    <div class="col-sm-2">
                        <label for="selecao7" class="form-label"><h3>Responsável</h3></label>
                        <select class="form-control" id="selecao7" name="responsavel" required>
                            <option></option>
                                {% if responsavel %}
                                    {% for k in responsavel.values %}
                                    <option value="{{ k }}">{{ k }}</option>
                                    {% endfor %}
                                {% endif %}									
                        </select>
                    </div>
                    <hr/>
                                       
                    <div class="row">
						<div class="col-sm-12">					  
					    	<label for="campo8" class="form-label"><h4>Observação</h4></label>
					    	<textarea class="form-control" id="campo8" name="observacao"placeholder="Registre aqui alguma observação sobre o processo." maxlength="200"></textarea>
					    </div>				  	
					</div>
				

					<div class="row">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary mt-3">Gravar Informações</button>
						</div>
					</div> 					
					<br>
			  </form>     

            </div>
            <div>
                <h1>Registros SQL Server</h1>
    
    <div>
        {% if valores %}
           <h3>REGISTROS ESCOLHIDOS</h3>
           <p>Instância: {{ valores.instancia }}</p>
           <p>Origem: {{ valores.origem }}</p>
           <p>Tipo cálculo: {{ valores.tipocalculo }}</p>
           <p>Objeto: {{ valores.objeto }}</p>
           <p>Órgão: {{ valores.orgao }}</p>
           <p>Unidade: {{ valores.unidade }}</p>
           <p>Responsável: {{ valores.responsavel }}</p>
           <p>Observação: {{ valores.observacao }}</p>
           <hr/>
             {% for k in valores.values %}
                   <p>{{k}}</p>
             {% endfor %} 
        {% endif %}     

    </div>



            </div>



            

  </body>
</html>